@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .button:hover,.form .button:active,.form .button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width:100%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:1px solid #222;
	background-color:#2F2F2F;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
a {
	color:#6FAB4F;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button {
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed {
    background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	padding-right:10px;
	color:#999;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family: "Source Sans Pro","sans-serif";
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family: "Source Sans Pro","sans-serif";
	border:1px solid #ddd;
}
fieldset form input.formbutton {
border:none;
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;


}
h1 {
	font-size:2.4em;
}
h2 {
	color:#2f2f2f;
	font-size:1.8em;
	font-weight:bold;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#80B763;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

.width {
	width:auto;
	margin: 0 auto;
}




/** header **/
header {
	padding:30px 17px 30px;
	margin:0 auto;
}
header h1 {
	text-align: right;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	letter-spacing:-2px;
}

header h2 {
	color:#C4DDB6;
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
}


/** body **/
section#body {
	padding: 0;
	background: #80B763;
}


/** content+sidebar styles **/
section#content {
	margin-left: 250px;
	padding: 20px;
	background-color: #fff;
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:15%;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
	position: fixed;
    height: 100%;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #99C581;
	border-top: 1px solid #6FAB4F;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#80B763;
	font-weight:bold;
	background: #fff;
}
nav#mainnav li.selected-item a:active{
    background: #fff;
}
nav#mainnav li a:hover {
	background:#669D48;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #f0f0f0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-weight:  bold;
	text-decoration: none;
}




article {
    padding: 10px 10px 30px;
	font-size: 1.2em;
border-bottom: 1px solid #eee;
 }

article h2 {
    padding-bottom: 0;
	line-height: 1.1em;
	letter-spacing: -2px;
   font-size: 2.5em;
}

article .article-info {
  color: #C0c0c0;
font-size: 0.92em;
padding: 0px 0px 10px;
}

article .article-info a {
	color: #ccc;
}



/** footer **/
footer {
	padding:20px 0px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}





@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0px; }

	header h1, header h2, nav#mainnav li a { text-align:center; }

	section#content, aside#sidebar { position: relative; float: none; width: auto; margin-left: 0; }


}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }


	nav#mainnav ul li a { margin-top: 0; padding: 1em; }


}
.main-container{
    width: 80%;
    position: relative;
    float: right;
    padding-top: 2em;
}