<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Foodeebuddee</title>
</head>
<body>
    <input type="date" value="2016-03-01" id="fromDate" name="fromDate" required="required"/>
    <input type="date" value="2016-03-03" id="toDate" name="toDate" required="required"/>
    <input id="submit" type="submit" value="submit"/>
    <h1 id="h1"></h1>
</body>
<script src="js/jquery2.0.2.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).ready(function(){
        App.formSubmit();
    });
</script>
</html>